{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios creation</h1>

    {{ form_start(form) }}
    {{ form_label(form.nombre, 'Your Name', {'label_attr': {'class': 'foo'}}) }}
        {{ form_widget(form) }}


        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('usuarios_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
